.container{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.nav {
  display: flex;
}

  .listEnvelope {
  display: flex;
  padding:10px; 
  list-style: none; 
  gap: 1rem;
  border-bottom: 1px solid #494949; 
  }
  
  .list {
    padding:12px 20px 6px 0;
  }

.btnm {
    padding:12px 30px;
    text-decoration:none;
    text-transform: UPPERCASE;
    border:none;
    outline:none;
    font-size: 32px;
    font-weight:600;
    .btnm:focus {
      border-bottom: 1px solid #0b9959;
      
    }
  }
.text{
  font-size: 26px;
}
.envelope{
  margin:10px;
}
.text{
  margin: 10px auto;
  padding: 10px;
}
.item{
  margin: 10px;
  font-size: 20px;
  border: 1px solid #0b9959;
  width: max-content;
  padding: 20px;
}