.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.menuIcon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: rgb(8, 107, 51);
  margin: 4px 0;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {

  text-decoration: none;
  font-size: 16px;
}

@media only screen and (max-width: 896px) and (min-width: 360px){
 .container{
    position:relative;
    padding: 30px;
 }
  .menuIcon {
    display: flex;
   flex-direction: column;
    align-items: flex-start;
  }

  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    align-items: left;
    z-index: 1;
  }

  .open .links {
    display: flex;
  }
}
