.container{
    height: 100px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.logo{
    font-weight: bold;
    font-size: 22px;
}
.links{
    display:flex;
    align-items: center;
    gap:20px;
}
.logout{
 padding:10px 30px;
 border:none;
 background-color:#53c28b;
 color:white;
 cursor:pointer;
 border-radius: 15px ;
 -webkit-border-radius: 15px ;
 -moz-border-radius: 15px ;
 -ms-border-radius: 15px ;
 -o-border-radius: 15px ;
}